h1{
	padding-left: 7vw;
}
input{
	margin-left: 100;
}
.margin-data{
	margin-top:30px;
}
.initial-task-padding{
	margin-top:15px;
}
.task-padding{
	margin-top:10px;
}
.no-task-padding{
	margin-top: 0px;
}
span{
	height: 50px;
}
