container{
	background: white; 
	margin-top: 20px;
}
h1{
	padding-top: 40px;
	text-align: center;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width:99%;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 15px;
  font-size: 15px;
  table-layout: fixed;
  width: 33%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  height: 100%;
  width: 99.9%;
}

.row{
	padding: 10px 10px;
	align-items: center;

}
.card{
	padding: 20px 20px;
	min-width: 18rem;
}

